.projectcard {
  height: fit-content;
  margin: 2rem auto 2rem auto;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-gray);
  border-radius: 2.5rem;
  overflow: hidden;
  transition: 500ms ease;
  max-width: 65rem;
}

.pc-img {
  width: 100%;
  position: relative;
  bottom: 0px;
  filter: grayscale(10%);
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: radial-gradient(black 50%, transparent 100%);
}

.pc-header {
  padding: 2em;
  text-align: left;
  margin: auto;
}

.pc-title {
  font-size: 1.5rem;
  color: var(--white);
}

.pc-header p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--gray);
}

.pc-link {
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  color: var(--white);
  cursor: pointer;
}

.pc-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37rem;
  background-color: var(--white);
  opacity: 0.5;
  transition: var(--transition);
}

.pc-link:hover {
  text-decoration: underline;
}

.pc-chevron {
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(0.3rem);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tech-ul {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0;
  background: var(--theme-gradient-still);
  background-clip: text;
}

.tech-list-li {
  font-family: var(--url);
  font-size: 1.3rem;
  margin-right: 2rem;
  padding: 0;
  width: fit-content;
  -webkit-text-fill-color: var(--white);
}

@media screen and (min-width: 800px) {
  .projectcard {
    margin: 0 1rem;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .projectcard {
    margin: 0 2rem;
    margin-top: 5rem;
  }
}
