@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oxygen:wght@300;400&family=Roboto:wght@100;400&display=swap");

$black: #08080c;
$white: #fefcfb;
$yellow: #ffbf47;
$light-yellow: #ffd485;
$orange: #f07c42;
$light-orange: #f18955;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Roboto', sans-serif;

$homeFont: "Oxygen", sans-serif;
