@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Montserrat:wght@300&family=Oxygen:wght@300;400&family=Roboto:wght@100;400&display=swap");

$black: #08080c;
$white: #fefcfb;
$background: #f2f1ef;
$background-light: #dddcdaec;
$yellow: #ffbf47;
$light-yellow: #ffd485;
$medium-yellow: #f4c05f;
$orange: #f07c42;
$light-orange: #f18955;
$medium-orange: #ea8350;

$homeFont: "Oxygen", sans-serif;
$textFont: "Roboto", sans-serif;
$headerFont: "Bai Jamjuree", sans-serif;

html {
  font-size: 16px;
}

//@media breakpoint definitions
$breakpoints: (
  "phoneSmall": 360px,
  "phoneLarge": 425px,
  "tablet": 768px,
  "laptop": 1024px,
  "laptopLarge": 1440px,
  "desktop": 2560px,
) !default;

@mixin responsive {
  @include phoneSmall() {
    @include mobile-flex;
  }
  @include phoneLarge() {
    @include mobile-flex;
  }
  @include tablet() {
    @include mobile-flex;
  }
  @include laptop() {
  }
  @include laptopLarge() {
  }
  @include desktop() {
  }
}

@mixin phoneSmall {
  @media (min-width: map-get($breakpoints, "phoneSmall")) {
    @content;
  }
}

@mixin phoneLarge {
  @media (min-width: map-get($breakpoints, "phoneLarge")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map-get($breakpoints, "laptop")) {
    @content;
  }
}

@mixin laptopLarge {
  @media (min-width: map-get($breakpoints, "laptopLarge")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

@mixin list-spacer {
  height: 1rem;
  width: 1rem;
  background-color: $orange;
  border-radius: 50%;
  margin: 0;
}

@mixin mobile-section-headers {
  h3 {
    font-size: 4rem;
  }
}

@mixin mobile-flex {
  display: flex;
  flex-direction: column;
}

@mixin mobile-projects-flex-section {
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}

@mixin mobile-projects-description {
  margin: auto;
  left: 50%;
  top: 4.7rem;
  position: relative;
  color: $white;
  font-size: 5rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

// creates mobile section header
@mixin section-header {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
}

@mixin section-header-h3 {
  font-size: 7rem;
  margin-top: 4rem;
  text-align: center;
  @include tablet {
    font-size: 6rem;
  }
  @include laptop {
    font-size: 5rem;
  }
}

@mixin fade-in {
  transition: opacity 1s ease;
}

@mixin fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

////////////////////
///
///
@mixin mobile-nav {
  width: 100%;
  background-color: rgba($color: $background, $alpha: 0.9);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -30px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-clip: padding-box;
  position: fixed;
  color: $orange;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  transition-timing-function: ease;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@mixin mobile-nav-btn {
  padding: 2rem 2rem 2rem 0;
}
