@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600;700&family=Montserrat:wght@300&family=Oxygen:wght@300;400&family=Roboto:wght@100;400&display=swap");

$black: #08080c;
$white: #fefcfb;
$background: #f2f1ef;
$background-light: #dddcdaec;
$yellow: #ffbf47;
$light-yellow: #ffd485;
$medium-yellow: #f4c05f;
$orange: #f07c42;
$light-orange: #f18955;
$medium-orange: #ea8350;

$homeFont: "Oxygen", sans-serif;
$textFont: "Roboto", sans-serif;
$headerFont: "Bai Jamjuree", sans-serif;

html {
  font-size: 62.5%;
  font-family: $headerFont;
}

//@media breakpoint definitions
$breakpoints: (
  "phoneLarge": 425px,
  "tablet": 768px,
  "laptop": 1024px,
  "laptopLarge": 1440px,
  "desktop": 1920px,
) !default;

@mixin responsive {
  @include phoneLarge() {
  }
  @include tablet() {
  }
  @include laptop() {
    @include laptop-flex;
  }
  @include laptopLarge() {
  }
  @include desktop() {
  }
}

@mixin phoneLarge {
  @media (min-width: map-get($breakpoints, "phoneLarge")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map-get($breakpoints, "laptop")) {
    @content;
  }
}

@mixin laptopLarge {
  @media (min-width: map-get($breakpoints, "laptopLarge")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

// sets all sections responsive for each <section/>
@mixin section-responsive {
  @include responsive;

  @include phoneLarge {
  }
  @include tablet {
  }
  @include tablet {
  }
  @include laptop {
  }
  @include laptopLarge {
  }
  @include desktop {
  }
}

@mixin mobile-flex {
  display: flex;
  flex-direction: column;
}

@mixin laptop-flex {
  flex-direction: row;
}

section {
  @include section-responsive;
}
