@import "../../Variables/Variables.scss";

section {
  height: fit-content;
}

.projects-container {
  @include phoneSmall {
    height: fit-content;
    width: 100%;
  }
  @include tablet {
    width: 90%;
    margin: auto;
  }
  @include laptop {
    width: 75%;
  }
  @include laptopLarge {
    width: 60%;
    margin-top: 5rem;
  }
}

.works-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.works-header h3 {
  font-size: 5rem;
  margin: 1rem 0 2rem 0;
  width: 100%;
}

.works-header p {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  width: 100%;
}

.flex-container {
  width: 100%;
  height: fit-content;
  margin: 2rem 0 3rem 0;
}

.section-first,
.section-second {
  @include mobile-projects-flex-section;
}

.section-title {
  @include mobile-projects-description;
  background-color: $black;
}

.project-img {
  background-image: url(../../images/spotify_orange_green_heahphones.png);
  @include mobile-projects-flex-section;
}

.project-container {
  position: relative;
}
