ul {
  margin-bottom: 0;
}

li {
  list-style: none;
  font-family: var(--url);
  margin: 0 !important;
  line-height: 27px !important;
  white-space: nowrap !important;
  font-size: 1rem !important;
}

.tab-selected {
  color: var(--white);
  background-color: var(--background-black);
  border-radius: 6px 6px 0 0;
  margin-left: 15px;
}

.tab-unselected {
  color: var(--gray);
}
