@import "../../Variables/Variables.scss";

nav {
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.navigation.hide {
  @include mobile-nav;
  height: 8vh;
  transition-timing-function: ease;
  z-index: 1;
}

.navigation.show {
  @include mobile-nav;
  height: 100%;
  transition-timing-function: ease;
  z-index: 2;
}

nav.scrollShow {
  transition: ease-in 1000ms;
}
nav.scrollHide {
  transition: ease-out 1000ms;
  transform: translateY(-8vh);
}

.nav-icon.active {
  @include mobile-nav-btn;
  color: $black;
  transition: 1s;
  z-index: 3;
}

.nav-icon.inactive {
  @include mobile-nav-btn;
  transition: 1s;
}

.mobile-resume-container {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  padding-top: 0.8rem;
  color: $orange;
  font-size: 2.5rem;
  border: 1px solid $orange;
  border-radius: 10px;
  margin: 1rem 0 1rem 3rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(30%);
}

.mobile-resume-link {
  text-decoration: none;
}
