.as-vl {
  height: 100%;
  background: linear-gradient(
    var(--te-transparent),
    var(--te-purple),
    var(--te-purple),
    var(--te-purple),
    var(--te-purple),
    var(--te-purple),
    var(--te-purple),
    var(--te-purple),
    var(--te-transparent)
  );

  /* transform: translateY(-35px) !important; */
}

.about-container {
  margin-right: 25px !important;
}

.chat-bubble {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-gray);
  border-radius: 20px !important;
  width: 70vw !important;
  position: relative;
  margin-top: 45px !important;
  margin-bottom: 45px !important;
  font-size: 3.7rem;
}

.chat-top {
  margin-top: 200px !important;
}

.chat-left {
  margin-right: auto;
  /* background-color: var(--te-dark-purple); */
  border-radius: 30px 30px 30px 7px !important;
}

.chat-right {
  margin-left: auto;
  background-color: var(--secondary-color);
  border-radius: 30px 30px 7px 30px !important;
}

.chat-end {
  width: fit-content !important;
}

#chat-final {
  margin-bottom: 15px !important;
  box-shadow: none !important;
}

.my-text {
  background: var(--theme-gradient-vertical);
  background-attachment: fixed;
}
