.chat-bubble {
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
  padding-left: 1.3em !important;
  padding-right: 1em !important;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-gray);
  width: 27rem;
  position: relative;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  font-size: 1.5rem;
}

.chat-left {
  margin-right: auto;
  border-radius: 1.8rem 1.8rem 1.8rem 0.4rem !important;
}

.chat-right {
  margin-left: auto;
  background-color: var(--secondary-color);
  border-radius: 1.8rem 1.8rem 0.4rem 1.8rem !important;
  width: fit-content;
}

.chat-end {
  width: fit-content !important;
}

#chat-final {
  margin-bottom: 1.5rem !important;
  box-shadow: none !important;
}

/* .my-text {
  background: var(--theme-gradient-vertical) !important;
  background-attachment: fixed !important;
} */

.my-chat-1 {
  background-color: rgb(127, 59, 178);
}
.my-chat-2 {
  background-color: rgb(120, 67, 183);
}
.my-chat-3 {
  background-color: rgb(113, 75, 188);
}
.my-chat-4 {
  background-color: rgb(107, 83, 193);
}
.my-chat-5 {
  background-color: rgb(100, 91, 198);
}

.header-align {
  position: absolute !important;
  margin-left: 1.2rem;
  overflow: visible;
}
.fade-container {
  transform: translateY(-1.8rem);
  overflow: visible;
}

.projects-header {
  font-family: var(--alliance1);
  font-size: 3.8rem;
  margin: 0 !important;
  overflow: visible;
  transform: translateY(1.2rem);
}

#about-flex-right {
  margin-left: 2.5rem;
  margin-top: 5rem;
}

@media screen and (min-width: 400px) {
  .chat-right {
    width: 27rem;
  }
}
@media screen and (min-width: 600px) {
  #about-flex-right {
    margin-top: 15rem;
  }
  .chat-right,
  .chat-left {
    width: 35rem;
  }
}

@media screen and (min-width: 1000px) {
  .chat-bubble {
    width: 40rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .chat-bubble {
    width: 50rem;
    font-size: 2rem;
  }
  .projects-header {
    font-size: 5rem;
    transform: translateY(0.7rem);
  }
}
