.chat-bubble {
  padding-top: 0.8em !important;
  padding-bottom: 0.8em !important;
  padding-left: 1.3em !important;
  padding-right: 1em !important;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-gray);
  width: 27rem !important;
  position: relative;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  font-size: 1.5rem;
}

.chat-left {
  margin-right: auto;
  border-radius: 1.8rem 1.8rem 1.8rem 0.4rem !important;
}

.chat-right {
  margin-left: auto;
  background-color: var(--secondary-color);
  border-radius: 1.8rem 1.8rem 0.4rem 1.8rem !important;
  width: fit-content;
}

.chat-end {
  width: fit-content !important;
}

#chat-final {
  margin-bottom: 1.5rem !important;
  box-shadow: none !important;
}

.my-text {
  background: var(--theme-gradient-vertical);
  background-attachment: fixed;
}

.header-align {
  position: absolute !important;
  margin-left: 1.2rem !important;
  overflow: visible;
}
.fade-container {
  transform: translateY(-1.8rem) !important;
  overflow: visible;
}

.projects-header {
  font-family: var(--alliance1);
  font-size: 3.8rem;
  margin: 0 !important;
  overflow: visible;
  transform: translateY(1.2rem);
}

#about-flex-right {
  margin-left: 2.5rem !important;
  margin-top: 5rem !important;
}
