.credentials-container {
  flex-direction: row;
}

.cs-vl {
  height: 1000px;
  background: linear-gradient(
    var(--te-magenta),
    var(--te-magenta),
    var(--te-magenta),
    var(--te-pink),
    var(--te-pastel-teal),
    var(--te-pastel-teal),
    var(--te-pastel-teal)
  );
}

.cs-btn {
  width: 60vw;
  font-size: 5.5rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-gray);
  padding-left: 25px !important;
  padding-bottom: 25px !important;
  padding-top: 25px !important;
  margin-bottom: 10% !important;
  border-radius: 30px;
  text-align: center;
}

.cs-btns-container {
  margin-left: 5% !important;
  flex-direction: column;
  margin-top: 5vh !important;
}
