.float-btn-container {
  position: absolute;
  margin-left: 5rem !important;
  transform: translateY(-2rem);
}

.hero-container {
  flex-direction: row;
  margin-top: 6rem !important;
  height: inherit;
}

.hero-container h1 {
  font-size: 4.2rem;
  font-family: var(--alliance1);
  margin-bottom: 0;
}

#hero-flex-right {
  margin-bottom: 5rem !important;
}

#hero-description {
  font-size: 1.8rem;
  color: var(--gray);
  margin-top: 3rem;
  z-index: 1;
  margin-bottom: 6rem;
}

.hero-section {
  background-image: none !important;
  height: inherit !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  overflow: visible;
}

.intro-section {
  margin-top: 400px !important;
}

/*************************************/
/*************************************/
/*************************************/
/*Media Queries*/
