.hero-vert-line {
  height: 840px;
  background: linear-gradient(
    var(--secondary-color),
    var(--te-blue),
    var(--te-blue),
    var(--te-coral-light)
  );
  margin-top: 150px !important;
}

.hs-vl2 {
  height: 1000px;
  background: linear-gradient(
    var(--te-coral-light),
    var(--te-coral-light),
    var(--te-coral-light),
    var(--te-yellow),
    var(--te-yellow)
  );
}

.icon-align-container {
  display: flex;
  flex-direction: row;
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.float-btn-container {
  position: absolute;
  margin-left: 15% !important;
}

.hero-container {
  flex-direction: row;
  padding-top: 256px !important;
  margin-top: 246px !important;
}

.hero-container h1 {
  font-size: 11rem;
  font-family: var(--alliance1Bold);
  margin-bottom: 0;
}

.hero-container p {
  font-size: 5.5rem;
  color: var(--gray);
  margin-top: 80px !important;
  z-index: 1;
}

.vert-line-container {
  flex-direction: column;
}
