.hero-img {
  max-width: calc(100vw) !important;
  position: relative !important;
}

.hero-bkgrnd {
  position: absolute !important;
  top: 0 !important;
  z-index: -100 !important;
  width: 100% !important;
  overflow: hidden !important;
}

.hero-bkgrnd-fade {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--primary-color), black);
}
