.float-btn-container {
  position: absolute;
  margin-left: 5rem;
  transform: translateY(-2rem);
}

.hero-container {
  flex-direction: row;
  margin-top: 12rem;
  height: inherit;
}

.hero-container h1 {
  font-size: 4.2rem;
  font-family: var(--alliance1);
  margin-bottom: 0;
}

#hero-flex-right {
  margin-bottom: 5rem;
}

#hero-header {
  margin-top: 0;
}

#hero-description {
  font-size: 1.8rem;
  color: var(--gray);
  margin-top: 3rem;
  z-index: 1;
  margin-bottom: 6rem;
}

.hero-section {
  background-image: none;
  height: inherit;
  padding-right: 0;
  overflow: visible;
}

.intro-section {
  margin-top: 400px;
}

/*************************************/
/*************************************/
/*************************************/
/*Media Queries*/

@media screen and (min-width: 400px) {
  #hero-header {
    font-size: 4.7rem;
  }
  #hero-description {
    font-size: 2rem;
  }
}

@media screen and (min-width: 500px) {
  #hero-header {
    font-size: 5rem;
  }
  #hero-description {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .hero-container {
    margin-top: 17rem;
  }
}

@media screen and (min-width: 700px) {
  .hero-container {
    margin-top: 20rem;
  }
  #hero-header {
    font-size: 5.3rem;
  }
  #hero-description {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 800px) {
  #hero-header {
    font-size: 6rem;
  }
  #hero-description {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1400px) {
  #hero-header {
    font-size: 9rem;
  }
  #hero-description {
    font-size: 3.2rem;
  }
  #hero-flex-right {
    margin-bottom: 12rem !important;
  }
  .hero-container {
    margin-top: 28rem;
  }
}
