.project-container {
  flex-direction: row;
}

.ps-vl {
  height: 2000px;
  background: linear-gradient(
    var(--te-lime-green),
    var(--te-lime-green),
    var(--te-pink),
    var(--te-magenta),
    var(--te-magenta)
  );
}
