.ts-container {
  flex-direction: column;
  margin-top: 200px !important;
  margin-bottom: 150px !important;
  transition: 300ms;
  overflow: hidden;
}

.ts-flex {
  flex-direction: row;
  margin-left: 20px !important;
}

/* .ts-wrapper {
  margin-top: 50px !important;
} */

.ts-flex-right,
.ts-flex-middle,
.ts-flex-left {
  height: fit-content;
  flex: 50% 1;
}

.ts-icon {
  margin-left: 50px !important;
  margin-right: 50px !important;
  margin-bottom: 25px !important;
  padding-bottom: 24px !important;
  font-size: 6.5rem !important;
}

.text-fill-gradient {
  font-size: 4rem !important;
  color: transparent !important;
  background: linear-gradient(
      71.18deg,
      var(--te-blue) 7.32%,
      var(--te-pastel-green) 30.59%,
      var(--te-pink) 55.82%
    )
    text !important;
}

@media screen and (min-width: 600px) {
  .ts-container {
  }
  .text-fill-gradient {
    font-size: 2.5rem !important;
  }
  .ts-icon {
    font-size: 6.5rem !important;
  }
}
