@import "../../Variables/Variables.scss";

.slide-out-nav-container {
  width: 100%;
  height: fit-content;
  text-align: center;
  transition: 3s;
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

ul {
  padding: 0;
  justify-content: center;
  animation: fadeIn 2s;
}

li {
  color: $black;
  font-size: 5rem;
  list-style: none;
  margin: 4rem 0 4rem 0;
}

a {
  text-decoration: none;
  color: $black;
}

.nav-divider {
  width: 75vw;
  height: 5px;
  background-color: $orange;
  margin: auto;
}
